---
layout: default
name: Harsh Parecha
about_me: I'm a software engineer with a strong track record in developing
  software applications across various technologies. I've contributed
  to multiple successful projects, ensuring quality and timely
  delivery. I excel in collaborating with cross-functional teams,
  managing efficient workflows, and mentoring junior developers. Known
  for my problem-solving skills, I'm adaptable and always eager to
  embrace new challenges. In my free time, I enjoy playing video
  games, which fuels my creativity and passion for technology.
experiences:
  - title: 2021 - 2024
    sub_title: Software Engineer - Strand Life Sciences
    description: I developed and maintained software applications using various
      technologies, contributed to multiple projects, and
      collaborated with cross-functional teams to deliver
      high-quality features. I utilized Git and Jira for efficient
      project management, provided mentorship to junior developers,
      and played a key role in enhancing the company's service
      capabilities. My work improved code quality and earned
      recognition for problem-solving skills and adaptability.
  - title: 2020 - 2022
    sub_title: Associate Engineer - AtoS
    description: I analyzed stakeholder requirements to design and implement
      automation solutions that streamlined workflows and reduced
      manual tasks. By developing scripts, dashboards, and APIs, I
      improved operational efficiency, incident response times, and
      reporting accuracy.
  - title: 2017 - 2019
    sub_title: System Engineer - AtoS
    description: I managed server patching, monitoring, and maintenance across
      multiple client environments, ensuring high availability and
      swift issue resolution. My work resulted in 100% SLA
      achievement, 99.98% patch compliance, and a 50% reduction in
      manual tasks.
skills:
  - HTML
  - JavaScript
  - TypeScript
  - Python
  - Software Development
  - Problem Solving
  - Code Review
  - Mentoring
  - Technical expert
  - API Integration
achievements:
  - Accolade Bronze - Award received for developing and implementing Incident assignment.
  - Spot Recognition - For developing reports and dashboard which reduce repetitive task of gathering info and representing it in graphs.
  - Accolade Champagne - Received for commitment and quality to take ownership and drive it to completion.
  - Shining Star - For contribution and extraordinary efforts demonstrated in the project
educations:
  - title: 2012 - 2016
    sub_title: B.E. Computer Engineering - GTU
    description: Bachelor's Degree in Computer Engineering
---

<div class="row">
  <div class="col mb-3">
    <span class="name">{{ layout.name }}</span>
  </div>
</div>
<div class="row">
  <div class="col mb-3">
    <div class="title-container">
      <div class="title">
        <span>About Me</span>
      </div>
    </div>
    <div class="content">
      {{ layout.about_me }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-12 mb-3">
    <div class="title-container">
      <div class="title">
        <span>Experience</span>
      </div>
    </div>
    {% assign experiences_length = layout.experiences | size | minus: 1 %}
    <div class="content">
      {% for experience in layout.experiences %}
        <div class="timeline">
          <div class="tag">{{ experience.title }}</div>
          {% if forloop.index0 < experiences_length %}
            <div class="timeline-container timeline-container-border">
          {% else %}
            <div class="timeline-container">
          {% endif %}
            <div class="timeline-sub-title">
              {{ experience.sub_title }}
            </div>
            <div class="content">
              {{ experience.description }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6 col-12 mb-3">
    <div class="row">
      <div class="col mb-3">
        <div class="title-container">
          <div class="title">
            <span>Skills</span>
          </div>
        </div>
        <div class="content">
          <div class="col">
            {% for skill in layout.skills %}
              <div class="tag">{{ skill }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="title-container">
          <div class="title">
            <span>Achievements</span>
          </div>
        </div>
        <div class="content">
          <ul class="list">
            {% for achievement in layout.achievements %}
              <li class="list-item">
                {{ achievement }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="title-container">
          <div class="title">
            <span>Education</span>
          </div>
        </div>
        {% assign educations_length = layout.educations | size | minus: 1 %}
        <div class="content">
          {% for education in layout.educations %}
            <div class="timeline">
              <div class="tag">{{ education.title }}</div>
              {% if forloop.index0 < educations_length %}
                <div class="timeline-container timeline-container-border">
              {% else %}
                <div class="timeline-container">
              {% endif %}
                <div class="timeline-sub-title">
                  {{ education.sub_title }}
                </div>
                <div class="content">
                  {{ education.description }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>